openapi: 3.0.0
info:
  title: TaroWorks API 
  version: 1.0.0
servers:
  - url: http://instance.develop.my.salesforce.com
components:
  securitySchemes:
    noauthAuth:
      type: http
      scheme: noauth
paths:
  /services/oauth2/token:
    post:
      tags:
        - default
      summary: Login - get access token
      requestBody:
        content: {}
      security:
        - noauthAuth: []
      parameters:
        - name: ''
          in: header
          schema:
            type: string
        - name: grant_type
          in: query
          schema:
            type: string
          example: password
        - name: client_id
          in: query
          schema:
            type: string
          example: '{{clientid}}'
        - name: client_secret
          in: query
          schema:
            type: string
          example: '{{client_secret}}'
        - name: username
          in: query
          schema:
            type: string
          example: '{{username}}'
        - name: password
          in: query
          schema:
            type: string
          example: '{{password}}{{token}}'
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /services/apexrest/formdata/v1:
    put:
      tags:
        - default
      summary: Form - upsert one or multiple forms
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                records:
                  - externalId: '{{formtimestamp}}-1'
                    id: ''
                    name: demo {{formtimestamp}}-1
                    alias: demo {{formtimestamp}}-1
                    messageAfterSubmission: Thank you for taking the time to complete this form!
                    description: This form was inserted through API on {{$timestamp}}
                    status: Draft
                    formVersion:
                      - versionid: ''
                        changeLogNumber: ''
                  - externalId: '{{formtimestamp}}-2'
                    id: ''
                    name: demo {{formtimestamp}}-2
                    alias: demo {{formtimestamp}}-2
                    messageAfterSubmission: Thank you for taking the time to complete this form!
                    description: This form was inserted through API on {{$timestamp}}
                    status: Draft
                    formVersion:
                      - versionid: ''
                        changeLogNumber: ''
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: OAuth {{access_token}}
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: objectType
          in: query
          schema:
            type: string
          example: PutFormData
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - default
      summary: Form - get by limit and offset, name, or ID
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: OAuth {{access_token}}
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: objectType
          in: query
          schema:
            type: string
          example: GetFormData
        - name: startNumber
          in: query
          schema:
            type: integer
          example: '0'
        - name: endNumber
          in: query
          schema:
            type: integer
          example: '10'
        - name: name
          in: query
          schema:
            type: string
          example: my form
        - name: id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /services/apexrest/questiondata/v1:
    put:
      tags:
        - default
      summary: Question - create one or more questions
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\n  \"records\": [\n    {\n      \"externalId\":
                \"S1\",\n      \"id\": \"\",\n      \"name\": \"section
                a\",\n      \"canbeDownloadedInTheEditForm\": false,\n     
                \"caption\": \"Section A\",\n      \"cascadingLevel\":
                \"\",\n      \"options\": [],\n      \"cascadingSelect\":
                \"\",\n      \"controllingQuestion\": \"\",\n     
                \"displayRepeatSectionInTable\": false,\n      \"doAfter\":
                \"\",\n      \"doBefore\": \"\",\n     
                \"dynamicOperationType\": \"\",\n     
                \"exampleOfValidResponse\": \"\",\n      \"firstVersion\":
                1,\n      \"form\": \"a0h5g000002zEH9AAM\",\n     
                \"formVersion\": \"a0g5g000002OHzM\",\n      \"hidden\":
                false,\n      \"lastVersion\": 1,\n      \"maximum\":
                \"\",\n      \"maxInstance\": 0,\n      \"minimum\":
                \"\",\n      \"parent\": \"\",\n      \"position\": 1,\n     
                \"ppiResultField\": \"\",\n      \"previousVersion\":
                \"\",\n      \"printAnswer\": false,\n      \"remoteId\":
                \"\",\n      \"remoteLibrary\": \"\",\n      \"remoteServerId\":
                \"\",\n      \"repeatSourceValue\": \"\",\n     
                \"repeatTimes\": \"\",\n      \"required\": true,\n     
                \"responseValidation\": \"\",\n     
                \"showAllQuestionOnOnePage\": false,\n     
                \"skipLogicBehavior\": \"Show\",\n      \"skipLogicOperator\":
                \"All\",\n      \"hint\": \"\",\n      \"testDynamicOperation\":
                false,\n      \"type\": \"section\",\n     
                \"useCurrentTimeAsDefault\": false,\n      \"changeLogNumber\":
                \"0\"\n    },\n    {\n      \"externalId\": \"Q1\",\n     
                \"id\": \"\",\n      \"name\": \"enter_your_age\",\n     
                \"canbeDownloadedInTheEditForm\": false,\n      \"caption\":
                \"enter_your_age\",\n      \"cascadingLevel\": \"\",\n     
                \"options\": [],\n      \"cascadingSelect\": \"\",\n     
                \"controllingQuestion\": \"\",\n     
                \"displayRepeatSectionInTable\": false,\n      \"doAfter\":
                \"\",\n      \"doBefore\": \"\",\n     
                \"dynamicOperationType\": \"\",\n     
                \"exampleOfValidResponse\": \"\",\n      \"firstVersion\":
                1,\n      \"form\": \"a0h5g000002zEH9AAM\",\n     
                \"formVersion\": \"a0g5g000002OHzM\",\n      \"hidden\":
                false,\n      \"lastVersion\": 1,\n      \"maximum\":
                \"\",\n      \"maxInstance\": 0,\n      \"minimum\":
                \"\",\n      \"parent\": \"S1\",\n      \"position\": 1,\n     
                \"ppiResultField\": \"\",\n      \"previousVersion\":
                \"\",\n      \"printAnswer\": false,\n      \"remoteId\":
                \"\",\n      \"remoteLibrary\": \"\",\n      \"remoteServerId\":
                \"\",\n      \"repeatSourceValue\": \"\",\n     
                \"repeatTimes\": \"\",\n      \"required\": true,\n     
                \"responseValidation\": \"\",\n     
                \"showAllQuestionOnOnePage\": false,\n     
                \"skipLogicBehavior\": \"Show\",\n      \"skipLogicOperator\":
                \"All\",\n      \"hint\": \"\",\n      \"testDynamicOperation\":
                false,\n      \"type\": \"number-integer\",\n     
                \"useCurrentTimeAsDefault\": false,\n      \"changeLogNumber\":
                \"0\"\n    },\n    {\n      \"externalId\": \"RS1\",\n     
                \"id\": \"\",\n      \"name\": \"RepeatSection\",\n     
                \"canbeDownloadedInTheEditForm\": false,\n      \"caption\":
                \"RepeatSection\",\n      \"cascadingLevel\": \"\",\n     
                \"options\": [],\n      \"cascadingSelect\": \"\",\n     
                \"controllingQuestion\": \"\",\n     
                \"displayRepeatSectionInTable\": true,\n      \"doAfter\":
                \"\",\n      \"doBefore\": \"\",\n     
                \"dynamicOperationType\": \"\",\n     
                \"exampleOfValidResponse\": \"\",\n      \"firstVersion\":
                1,\n      \"form\": \"a0h5g000002zEH9AAM\",\n     
                \"formVersion\": \"a0g5g000002OHzM\",\n      \"hidden\":
                false,\n      \"lastVersion\": 1,\n      \"maximum\":
                \"\",\n      \"maxInstance\": 0,\n      \"minimum\":
                \"\",\n      \"parent\": \"\",\n      \"position\": 2,\n     
                \"ppiResultField\": \"\",\n      \"previousVersion\":
                \"\",\n      \"printAnswer\": false,\n      \"remoteId\":
                \"\",\n      \"remoteLibrary\": \"\",\n      \"remoteServerId\":
                \"\",\n      \"repeatSourceValue\": \"Q1\",\n     
                \"repeatTimes\": \"\",\n      \"required\": true,\n     
                \"responseValidation\": \"\",\n     
                \"showAllQuestionOnOnePage\": true,\n     
                \"skipLogicBehavior\": \"Show\",\n      \"skipLogicOperator\":
                \"All\",\n      \"hint\": \"\",\n      \"testDynamicOperation\":
                false,\n      \"type\": \"repeat\",\n     
                \"useCurrentTimeAsDefault\": false,\n      \"changeLogNumber\":
                \"0\"\n    },\n    {\n      \"externalId\": \"RSQ1\",\n     
                \"id\": \"\",\n      \"name\": \"address\",\n     
                \"canbeDownloadedInTheEditForm\": false,\n      \"caption\":
                \"address\",\n      \"cascadingLevel\": \"\",\n     
                \"options\": [],\n      \"cascadingSelect\": \"\",\n     
                \"controllingQuestion\": \"\",\n     
                \"displayRepeatSectionInTable\": false,\n      \"doAfter\":
                \"\",\n      \"doBefore\": \"\",\n     
                \"dynamicOperationType\": \"\",\n     
                \"exampleOfValidResponse\": \"\",\n      \"firstVersion\":
                1,\n      \"form\": \"a0h5g000002zEH9AAM\",\n     
                \"formVersion\": \"a0g5g000002OHzM\",\n      \"hidden\":
                false,\n      \"lastVersion\": 1,\n      \"maximum\":
                \"\",\n      \"maxInstance\": 0,\n      \"minimum\":
                \"\",\n      \"parent\": \"RS1\",\n      \"position\": 1,\n     
                \"ppiResultField\": \"\",\n      \"previousVersion\":
                \"\",\n      \"printAnswer\": false,\n      \"remoteId\":
                \"\",\n      \"remoteLibrary\": \"\",\n      \"remoteServerId\":
                \"\",\n      \"repeatSourceValue\": \"\",\n     
                \"repeatTimes\": \"\",\n      \"required\": true,\n     
                \"responseValidation\": \"\",\n     
                \"showAllQuestionOnOnePage\": false,\n     
                \"skipLogicBehavior\": \"Show\",\n      \"skipLogicOperator\":
                \"All\",\n      \"hint\": \"\",\n      \"testDynamicOperation\":
                false,\n      \"type\": \"text-long\",\n     
                \"useCurrentTimeAsDefault\": false,\n      \"changeLogNumber\":
                \"0\"\n    },\n    {\n      \"externalId\": \"Q2\",\n     
                \"id\": \"\",\n      \"name\": \"gender\",\n     
                \"canbeDownloadedInTheEditForm\": false,\n      \"caption\":
                \"gender\",\n      \"cascadingLevel\": \"\",\n      \"options\":
                [\n        {\n          \"externalId\": \"O1\",\n         
                \"id\": \"\",\n          \"name\": \"male\",\n         
                \"position\": 1,\n          \"caption\": \"male\"\n       
                },{\n          \"externalId\": \"O2\",\n          \"id\":
                \"\",\n          \"name\": \"female\",\n          \"position\":
                2,\n          \"caption\": \"female\"\n        }\n     
                ],\n      \"cascadingSelect\": \"\",\n     
                \"controllingQuestion\": \"\",\n     
                \"displayRepeatSectionInTable\": false,\n      \"doAfter\":
                \"\",\n      \"doBefore\": \"\",\n     
                \"dynamicOperationType\": \"\",\n     
                \"exampleOfValidResponse\": \"\",\n      \"firstVersion\":
                1,\n      \"form\": \"a0h5g000002zEH9AAM\",\n     
                \"formVersion\": \"a0g5g000002OHzM\",\n      \"hidden\":
                false,\n      \"lastVersion\": 1,\n      \"maximum\":
                \"\",\n      \"maxInstance\": 0,\n      \"minimum\":
                \"\",\n      \"parent\": \"S1\",\n      \"position\": 2,\n     
                \"ppiResultField\": \"\",\n      \"previousVersion\":
                \"\",\n      \"printAnswer\": false,\n      \"remoteId\":
                \"\",\n      \"remoteLibrary\": \"\",\n      \"remoteServerId\":
                \"\",\n      \"repeatSourceValue\": \"\",\n     
                \"repeatTimes\": \"\",\n      \"required\": true,\n     
                \"responseValidation\": \"\",\n     
                \"showAllQuestionOnOnePage\": false,\n     
                \"skipLogicBehavior\": \"Show\",\n      \"skipLogicOperator\":
                \"All\",\n      \"hint\": \"\",\n      \"testDynamicOperation\":
                false,\n      \"type\": \"radio\",\n     
                \"useCurrentTimeAsDefault\": false,\n      \"changeLogNumber\":
                \"0\"\n    }\n  ]\n}"
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: OAuth {{access_token}}
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: objectType
          in: query
          schema:
            type: string
          example: PutQuestionData
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - default
      summary: Question - get by limit and offset, name, or ID
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: OAuth {{access_token}}
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: objectType
          in: query
          schema:
            type: string
          example: GetQuestionData
        - name: startNumber
          in: query
          schema:
            type: integer
          example: '0'
        - name: endNumber
          in: query
          schema:
            type: integer
          example: '17'
        - name: id
          in: query
          schema:
            type: string
          example: a0h4w00000QwnWTAAZ
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /services/apexrest/formmappingdata/v1:
    get:
      tags:
        - default
      summary: get by formId
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: OAuth {{access_token}}
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: objectType
          in: query
          schema:
            type: string
          example: GetFormMappingData
        - name: formId
          in: query
          schema:
            type: string
          example: a0hDn000000gLXeIAM
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    put:
      tags:
        - default
      summary: External Id missing
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\r\n    \"records\": [\r\n        {\r\n\t\t\t\r\n           
                \"id\": \"\",\r\n            \"name\": \"Created from
                API\",\r\n            \"form\":
                \"a0hDn000000gLXeIAM\",\r\n            \"formVersion\":
                \"a0gDn000000kXUeIAM\",\r\n           
                \"formVersionMappingField\": \"\",\r\n           
                \"mobileUserField\": \"\",\r\n           
                \"patScoreMappingField\": \"\",\r\n           
                \"objectApiName\": \"Account\",\r\n           
                \"formMappingField\": \"\",\r\n           
                \"intervieweeMapField\": \"\",\r\n            \"isReference\":
                false,\r\n            \"matchingField\": \"\",\r\n           
                \"repeat\": \"a0SDn000000oknFMAQ\",\r\n           
                \"useAsInterviewee\": false,\r\n           
                \"submissionAPIField\": \"\",\r\n           
                \"changeLogNumber\": \"12\",\r\n           
                \"questionMappings\": [\r\n                {\r\n\"externalId\" :
                \"213\",\r\n                    \"name\":
                \"a0RDn000000y2Rs\",\r\n                    \"id\":
                \"\",\r\n                    \"fieldAPIName\":
                \"Name\",\r\n                    \"isBroken\":
                false,\r\n                    \"question\":
                \"a0SDn000000oknBMAQ\",\r\n                    \"scoringGroup\":
                \"\"\r\n                },\r\n               
                {\r\n\"externalId\" : \"321\",\r\n                    \"name\":
                \"a0RDn000000y2Rt\",\r\n                    \"id\":
                \"\",\r\n                    \"fieldAPIName\":
                \"Description\",\r\n                    \"isBroken\":
                false,\r\n                    \"question\":
                \"a0SDn000000oknGMAQ\",\r\n                    \"scoringGroup\":
                \"\"\r\n                }\r\n            ]\r\n        }\r\n   
                ]\r\n}"
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: OAuth {{access_token}}
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: objectType
          in: query
          schema:
            type: string
          example: PutFormMappingData
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
  /services/apexrest/skiplogicdata/v1/:
    put:
      tags:
        - default
      summary: create/update SkipLogic
      requestBody:
        content:
          '*/*':
            schema:
              type: string
              example: >-
                "{\r\n\r\n    \"records\": [\r\n         {\r\n           
                \"externalId\":\"1235\",\r\n            \"id\":
                \"a0ZDn000000gw6kMAA\",\r\n            \"negate\":
                false,\r\n            \"skipValue\": \"\",\r\n           
                \"condition\": \"Answered\",\r\n            \"parentQuestion\":
                \"a0SDn000000oknCMAQ\",\r\n            \"sourceQuestion\":
                \"a0SDn000000oknBMAQ\",\r\n            \"form\":
                \"a0hDn000000gLXeIAM\",\r\n            \"formVersion\":
                \"a0gDn000000kXUeIAM\",\r\n            \"changeLogNumber\":
                \"17\"\r\n        }\r\n    ]\r\n}   "
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: >-
            OAuth
            00DDn0000013HY4!AQoAQMMeTgThQZVl3NEROESfCJkOR9qk10FUU_dSjZZyF0djq.qIUNrBbXVT86lnC4i.a2ulLun60olpaMKpZmnct7SaxXrR
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: objectType
          in: query
          schema:
            type: string
          example: PutSkipLogicData
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
    get:
      tags:
        - default
      summary: get by Limit and Offset
      parameters:
        - name: Authorization
          in: header
          schema:
            type: string
          example: >-
            OAuth
            00DDn0000013HY4!AQoAQMMeTgThQZVl3NEROESfCJkOR9qk10FUU_dSjZZyF0djq.qIUNrBbXVT86lnC4i.a2ulLun60olpaMKpZmnct7SaxXrR
        - name: Content-Type
          in: header
          schema:
            type: string
          example: application/json
        - name: objectType
          in: query
          schema:
            type: string
          example: GetSkipLogicData
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
